# Mission to Mars: 
## Jet Propulsion Laboratory
### California Institute of Technology

In [1]:
#Import Splinter, BeautifulSoup, and Pandas
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd
import time
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
#Set the executable path and initialize the chrome browser in splinter
path = {"executable_path": ChromeDriverManager().install()}
browser = Browser("chrome",**path,headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 90.0.4430
[WDM] - Get LATEST driver version for 90.0.4430
[WDM] - Driver [/Users/nataligracia/.wdm/drivers/chromedriver/mac64/90.0.4430.24/chromedriver] found in cache

## Visit the NASA mars news site

In [3]:
#Visit the mars nasa news site
url_news = "https://mars.nasa.gov/news/"
browser.visit(url_news)

#Add delay for loading the page
browser.is_element_present_by_css("ul.item_list li.slide", wait_time=2)

True

In [4]:
#Converting the browser html to a soup object
html_news = browser.html
soup_news = bs(html_news, 'html.parser')

article_one = soup_news.select_one('ul.item_list li.slide')

In [5]:
#Find NASA News Titles with content title
nasa_news = article_one.find('div', class_='content_title')
nasa_news

In [6]:
#Find NASA News content title text
nasa_news_title = article_one.find('div', class_='content_title').get_text()
nasa_news_title

"Seeing NASA's Ingenuity Mars Helicopter Fly in 3D"

In [7]:
#Find NASA News Stories with article teaser body
nasa_story = soup_news.find('div', class_='article_teaser_body')
nasa_story

In [8]:
#Find NASA News Story paragraph text
nasa_story_article = soup_news.find('div', class_='article_teaser_body').get_text()
nasa_story_article

'A new video of the helicopter’s third flight gives viewers the sensation of standing on the Red Planet and seeing the action firsthand.'

## JPL Space Images Featured Image

In [9]:
#Visit JPL space images Mars URL
url_img = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html'
browser.visit(url_img)

In [10]:
#Find and click the full image button, doesn't work
#full_image_elem = browser.find_by_tag('button')[1]
#full_image_elem

In [11]:
#Find and click the full image button, doesn't work
# full_img = browser.find_by_id('full_image')
# full_img.is_empty()

In [12]:
#Find and click the full image button, doesn't work
# full_image = browser.find_by_xpath('/html/body/div[1]/div/a')
# full_image.is_empty()

In [13]:
#Find and click the full image button
find_image = browser.find_by_css('a[class="showimg fancybox-thumbs"]')
find_image.is_empty()

False

In [14]:
#Find the image url
html_img= find_image[0]['href']
html_img

'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars3.jpg'

In [15]:
#Find and click more info, more info button no longer exists

In [16]:
#Parse the resulting html with soup
# html_img = browser.html
# soup_img = bs(html_img, 'html.parser')

In [17]:
#Find the relative image url
# img_url = soup_img.select_one('figure.lede a img').get("src")
# img_url

In [18]:
# Use the base url to create an absolute url
featured_image_url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars3.jpg'

## Mars Facts

In [19]:
#Visit the mars facts site
url_facts = "https://space-facts.com/mars/"
browser.visit(url_facts)

In [20]:
#Dataframe of space-facts.com mars page
df = pd.read_html('https://space-facts.com/mars/')[0]
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [21]:
#Format dataframe and export to HTML
df.columns=['Description','Value']
# df.set_index('Description',inplace=True)
df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [24]:
#Make dataframe an html
mars_facts = df.to_html(formatters={'Description': lambda x: '<b>' + x + '</b>'}, escape=False, index=False)
mars_facts

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th>Description</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td><b>Equatorial Diameter:</b></td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <td><b>Polar Diameter:</b></td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <td><b>Mass:</b></td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <td><b>Moons:</b></td>\n      <td>2 (Phobos & Deimos)</td>\n    </tr>\n    <tr>\n      <td><b>Orbit Distance:</b></td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <td><b>Orbit Period:</b></td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <td><b>Surface Temperature:</b></td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <td><b>First Record:</b></td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <td><b>Recorded By:</b></td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

## Hemispheres

In [23]:
#Visit the USGS astrogeology page for hemisphere data from Mars
url_hem = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url_hem)

In [24]:
#Create for loop to grab hemisphere titles and url links
hem_urls = []

#Find list of hemisphers
links = browser.find_by_css("a.product-item h3")

#Start loop, click link, find anchor and return href and title
for title in range(len(links)):
    hemisphere ={}
    
    #Each individual hemisphere on click
    browser.find_by_css("a.product-item h3")[title].click()
    
    #Each hemisphere on click name
    hem_link = browser.find_link_by_text('Sample').first
    
    #Find hemisphere title
    hemisphere['title'] = browser.find_by_css("h2.title").text
    
    #Find hemisphere url
    hemisphere['img_url'] = hem_link['href']
    
    #Create dictionary of objects to list
    hem_urls.append(hemisphere)
    
    #Navigate backwards
    browser.back()

/opt/anaconda3/lib/python3.8/site-packages/splinter/driver/webdriver/__init__.py:498: FutureWarning: browser.find_link_by_text is deprecated. Use browser.links.find_by_text instead.
  warnings.warn(

In [25]:
#Print/view hemisphere titles and urls
hem_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [26]:
#Quit Browser
browser.quit()